@model IEnumerable<TodoList1.Models.TodoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

<script type="module" src="@Url.Content("~/js/index.jsx")"></script>
@*<script src="@Url.Content("~/js/AddButton.jsx")"></script>
    <script src="@Url.Content("~/js/ToDoList.jsx")"></script>*@


