@model IEnumerable<TodoList1.Models.TodoItem>
@{
    ViewData["Title"] = "Index";
}

<form onSubmit="stopLoad(event)">
    <input id="AddItemButton" value="Add" class="btn btn-primary">
</form>

@Html.Partial("_ToDoTable", Model)


@section Scripts{
    <script src="~/js/BuildTable.js" asp-append-version="true"></script>
    <script src="~/js/Edit.js" asp-append-version="true"></script>
}